*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'unbounded', cursive;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#main {
    width: 50%;
}

#imageBox {
    height: 450px;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
}

#mainimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.2s;
}

button {
    background-color: black;
    color: aliceblue;
    padding: 10px 25px;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

p{
    margin: 20px 0;
}

#text {
    margin: 0;
    margin-left: 20px;  
}

/* theme sombre classes */

.dark-mode-toggle {
    border: 1px solid #fff;
}

.dark-mode-theme {
    background-color: #000;
    color: #fff;
}
.dark-mode-main-img {
    filter: grayscale(1);
}
.dark-mode-main-img:hover {
    filter: grayscale(0);
}